<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trade.service.domestic.stock.mapper.StockMapper">

    <select id="selectPage" resultType="com.trade.service.domestic.stock.entity.Stock">
        SELECT ts_code, namel, area, market, list_date
        FROM stock_basic
        ${ew.customSqlSegment}
    </select>

</mapper>
